.ImageAvatar {
  margin: var(--center-with-margin);
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.ImageAvatar img {
  width: 100%;
  height: 100%;
}

.UserDetail {
  text-align: center;
}

.UserTitle {
  text-transform: uppercase;
  font-size: 1rem;
}
