.ProjectCard {
  display: inline-block;
  min-height: 10rem;
  background-color: #f7f7f7;
  border: 1px solid rgba(187, 187, 187, 0.51);
  border-radius: 3px;
  padding: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  width: 48%;
  box-sizing: border-box;
}

.OwnerName,
.Date {
  margin: 0 0.5rem;
}
.OwnerName {
  color: #6886c5;
}

.Date {
  color: #848484;
}
.AttributeContainer {
  font-size: 1.3rem;
  display: flex;
  margin: 1rem;
}

@media screen and (max-width: 600px) {
  .ProjectCard {
    width: 80%;
    margin: var(--center-with-margin);
    margin-top: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .ProjectCard {
    width: 98%;
    margin: var(--center-with-margin);
  }
}
